# SF Salaries Exercise 
Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle!.

** Import pandas as pd.**

In [2]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [3]:
sal = pd.read_csv("Salaries.csv")

In [11]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Check the head of the DataFrame. **

In [13]:
sal["Year"].value_counts

<bound method IndexOpsMixin.value_counts of 0         2011
1         2011
2         2011
3         2011
4         2011
5         2011
6         2011
7         2011
8         2011
9         2011
10        2011
11        2011
12        2011
13        2011
14        2011
15        2011
16        2011
17        2011
18        2011
19        2011
20        2011
21        2011
22        2011
23        2011
24        2011
25        2011
26        2011
27        2011
28        2011
29        2011
          ...
148624    2014
148625    2014
148626    2014
148627    2014
148628    2014
148629    2014
148630    2014
148631    2014
148632    2014
148633    2014
148634    2014
148635    2014
148636    2014
148637    2014
148638    2014
148639    2014
148640    2014
148641    2014
148642    2014
148643    2014
148644    2014
148645    2014
148646    2014
148647    2014
148648    2014
148649    2014
148650    2014
148651    2014
148652    2014
148653    2014
Name: Year, Length: 148654, dtype: int64>

** Use the .info() method to find out how many entries there are.**

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

** What is the highest amount of OvertimePay in the dataset ? **

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

** How much does JOSEPH DRISCOLL make (including benefits)? **

** What is the name of highest paid person (including benefits)?**

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

** How many unique job titles are there? **

** What are the top 5 most common jobs? **

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

202